/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Work+Sans&display=swap');
/* basic reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
}

/* utility  */
:root {
  /* max-width  */
  --header : 1360px;
  --banner-feature-spo-foo : 1020px;
  --awards: 950px;
  /* bg color  */
  --bg-primary: rgba(255, 144, 14, 0.1);
  --highlight-color: #FF900E;
  /* font color  */
  --bl : #131313;
  --l-black : #424242;
  --gray : #727272;
  --white : #ffffff;
  /* font-size  */
  --small : 1.2rem;
  --large : 1.25rem;
  --xl : 2.5rem;
  --xxl : 3.7rem;
  /* font-width  */
  --small-wt : 500;
  --large-wt : 600;
  --xl-wt : 700;
  /* padding  */
  --padding-primary : 0 120px 0;
}

/* header styles */
.header {
  max-width: var(--header);
  background: var(--bg-primary);
}
.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--padding-primary);
  margin-bottom: 50px;
}
.title-primary {
  font-size: var(--xl);
  font-weight: var(--xl-wt);
  color: var(--bl);
}
.nav-wrapper {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  font-size: var(--small);
  font-weight: var(--small-wt);
  color: var(--l-black);
}
.heading-wrapper {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.title-secondary {
  font-size: var(--xxl);
  font-weight: var(--xl-wt);
  color: var(--bl);
}
.primary-desc {
  color: var(--l-black);
}
.btn-primary {
  background: var(--highlight-color);
  border: 0;
  padding: 1rem;
  color: var(--white);  
}
.block {
  display: block;
  margin: 0 auto 20px; 
}

/* banner image  */
.banner {
  max-width: var(--banner-feature-spo-foo);
  margin: 0 auto 50px;
}

/* main section start */
/* feature section  */
.feature-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 750px;
  margin: 0 auto 50px;
}
.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.quick-list-wrapper {
  max-width: 300px;
}
.quick-list-title {
  font-size: var(--xl);
  font-weight: var(--small-wt);
  color: var(--bl);
}
.gray-color {
  color: var(--gray);
}
.highlight-color {
  color: var(--highlight-color);
}

/* features you love section  */
.love-wrapper {
 max-width: var(--banner-feature-spo-foo);
 max-height: 1050px;
 margin: 0 auto 50px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 50px;
 padding: 10px 5px 20px;
}
.features-desc-wrapper {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.rt-border {
  border-left: 2px solid var(--highlight-color);
  padding-left: 10px;
}
.card {
  box-shadow: 0px 1px 7px 5px rgb(128 128 128 / 11%);
  padding: 5px;
}
.title-teritiary {
  font-size: var(--small);
  font-weight: var(--large-wt);
  margin-bottom: 1rem;
}
.archi-img {
  max-width: 50%;
  flex-shrink: 0;
}
.relative {
  position: relative;
}

.big {
  position: absolute;
  bottom: -22px;
}
.btn-big {
  font-size: var(--xxl);
}

/* some-facts  */
.some-facts {
  padding: 0 777px 10px 140px;
  margin-bottom: 50px;
}

/* state of service  */
.stats-wrapper {
  max-width: var(--awards);
  margin: 0 auto 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  
}
.stat {
  border: 1px solid var(--highlight-color);
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 191px;
}
.stat-img {
  width: 45px;
  height: 45px;
}
.number {
  font-size: var(--xl);
  font-weight: var(--large-wt);
}
.stat-title {
  font-size: var(--small);
  font-weight: var(--large-wt);
  color: var(--gray);
}
/* sponsors style  */
.sponsers-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 50px;
}
.width {
  max-width: 540px;
}