/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Work+Sans&display=swap');
/* basic reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
}

/* utility  */
:root {
  /* max-width  */
  --header : 1360px;
  --banner-feature-spo-foo : 1020px;
  --awards: 911px;
  /* bg color  */
  --bg-primary: rgba(255, 144, 14, 0.1);
  --highlight-color: #FF900E;
  /* font color  */
  --bl : #131313;
  --l-black : #424242;
  --gray : #727272;
  --white : #ffffff;
  /* font-size  */
  --small : 1.25rem;
  --large : 1.3rem;
  --xl : 2.8rem;
  --xxl : 4rem;
  /* font-width  */
  --small-wt : 500;
  --large-wt : 600;
  --xl-wt : 700;
  /* padding  */
  --padding-primary : 0 120px 0;
}

/* header styles */
.header {
  max-width: var(--header);
  background: var(--bg-primary);
}
.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--padding-primary);
  margin-bottom: 50px;
}
.title-primary {
  font-size: var(--xl);
  font-weight: var(--xl-wt);
  color: var(--bl);
}
.nav-wrapper {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  font-size: var(--small);
  font-weight: var(--small-wt);
  color: var(--l-black);
}
.heading-wrapper {
  max-width: 610px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.title-primary {
  font-size: var(--xxl);
  font-weight: var(--xl-wt);
  color: var(--bl);
}
.heading-desc {
  color: var(--l-black);
}
.btn-primary {
  background: var(--highlight-color);
  border: 0;
  padding: 1rem;
  color: var(--white);  
}
.block {
  display: block;
  margin: 0 auto 20px; 
}

/* banner image  */
.banner {
  max-width: var(--banner-feature-spo-foo);
  margin: 0 auto 130px;
}